/* src/ResumeApp.css */
.resume-app-container {
    margin: auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    background-color: #000000;
    width: 100%;
  }
  
  .upload-section,
  .search-section,
  .search-result {
    width: 80%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center the text content */
    background-color: #98f498;

  }

  .form-group {
    margin-bottom: 15px;
    width: 80%;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Add some spacing between sections */
  .upload-section + .search-section,
  .search-section + .search-result {
    margin-top: 30px;
  }

  h1 {
    color: white; /* Change the text color to white */
  }